.detailsview {
  .main-image {
    background-color: aqua;
    border-radius: 10px;
  }
  .movie-title {
    color: black;
    font-weight: 700;
    font-size: 35px;
  }
  .movie-year {
    color: black;
    font-weight: 350;
    font-size: 33px;
  }
  .movie-text {
    color: black;
    font-size: 16px;
  }

  .movie-text-bold {
    color: black;
    font-size: 20px;
    font-weight: 700;
  }
  .movie-rating {
    border: 2px solid rgba(0, 0, 0, 0.4);
    border-radius: 2px;
    color: black;
    font-size: 12px;
    font-weight: 100;
    line-height: 1;
    text-align: center;
  }

  .box{
    height: 115px !important;
    padding: 4px;
  }
  .box-cicle svg{
    width: 115px !important;
    height: 115px !important;
  }

  circle{
    width: 115px !important;
    height: 115px !important;
    stroke: #1083bd;
    stroke-width: 10;
    transform: translate(5px, 5px);
    stroke-dasharray: 315 !important;
    stroke-dashoffset: 315;
  }
  circle:nth-child(1){
    stroke-dashoffset: 0;
    stroke: #1083bd;
    //stroke: rgb(167, 253, 196) !important;
  }
  circle:nth-child(2){
    stroke: rgb(31, 194, 114);
  }

  h2{
    font-size: 38px;
    color: white;
    margin-top: -90px;
    margin-left: 18px;
  }
}